@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	padding: 20px 0;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.section-title {
	font-size: 4rem !important;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	color: #006627;
	margin-top: 50px;
}

.section-title span {
	color: rgb(247, 222, 4);
}

.logo-container {
	text-align: center;
}

.logo-img {
	width: 100px;
	height: auto;
	margin-bottom: 0px;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(247, 222, 4);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	animation: pulse 1s infinite;
}


.cta:hover {
	color: white;
	background-color: rgb(247, 222, 4);
	animation: none;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: rgb(8, 7, 7);
}

.brand h1 span {
	color: rgb(247, 222, 4);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: #b8c444;
	transition: 0.3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 5rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: #006627;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: #0d0d0e;
}

/* Fundo amarelo para o botão "Contato" */
#header .nav-list ul li:last-child a {
	background-color: yellow;
	padding: 02px 10px; /* Ajusta o espaçamento interno */
	border-radius: 5px; /* Deixa o botão arredondado */
}

#header .nav-list ul li:last-child a:hover {
	background-color: #ffd700; /* Fundo mais escuro no hover */
}
/* End Header section */

/* Hero Section */
#hero {
	height: 100vh;
	text-align: center;
	background-image: url(/assets/img/back1.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: -1;
	display: flex;
	justify-content: flex-end;
	padding-top: 60px;
	/* Ajuste o valor conforme necessário */
	padding-bottom: 40px;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
	#hero {
		background-position: center;
		height: auto;
		/* Permite ajustar a altura automaticamente */
		padding-top: 140px;
		/* Maior espaçamento no topo */
		padding-bottom: 20px;
		/* Reduz o espaçamento inferior */
	}

	#hero img {
		max-width: 90%;
		/* Evita que a imagem ocupe toda a largura */
		height: auto;
		/* Mantém a proporção */
		margin: 0 auto;
	}
}

@media (max-width: 480px) {
	#hero {
		padding-top: 120px;
		/* Espaçamento maior em telas muito pequenas */
		padding-bottom: 10px;
	}
}

/* End Hero Section */

/* Feijão Section */
#feijão {
	background-image: url('/assets/img/back2.png');
	background-size: cover;
	background-position: center;
	padding: 50px 20px;
	text-align: center;
	color: #ffffff;
}

#feijão h2 {
	font-size: 4rem;
	margin-bottom: 20px;
	/* Ajuste de espaçamento entre o título e o próximo elemento */
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	/* Define como "black" */
	display: flex;
	flex-direction: column;
	/* Organiza as palavras na vertical */
	align-items: center;
	/* Centraliza horizontalmente */
	justify-content: center;
	/* Centraliza verticalmente */
	text-align: center;
}

#feijão h2 .amarelo {
	color: #FFD700;
	/* Cor amarela */
	margin-bottom: 5px;
	/* Espaçamento entre as palavras */
}

#feijão h2 .branco {
	color: #FFFFFF;
	/* Cor branca */
}

.feijao-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	/* Espaçamento entre os itens */
}

.feijao-item {
	display: flex;
	/* Torna o item um container flex */
	flex-direction: column;
	/* Organiza os filhos (h2 e img) na vertical */
	align-items: center;
	/* Centraliza horizontalmente */
	justify-content: center;
	/* Centraliza verticalmente */
	flex: 1 1 300px;
	/* Base de 300px e ajustável */
	max-width: 300px;
	/* Limita o tamanho dos itens menores */
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	height: 100%;
	/* Garante que a altura preencha o espaço disponível */
}

.feijao-destaque {
	flex: 2 1 450px;
	/* Maior tamanho para o item de destaque */
	max-width: 700px;
	/* Limita o crescimento do item maior */
}

.feijao-item img {
	width: 80%;
	/* Reduz a largura da imagem para balancear com o texto */
	border-radius: 10px;
	height: auto;
	/* Mantém a proporção da imagem */
	margin-top: 20px;
	/* Espaçamento entre o título e a imagem */
}

.feijao-item h3 {
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: #ffffff;
}

.feijao-item p {
	font-weight: 700;
	margin-top: 10px;
	font-size: 2rem;
	color: #FFD700;
}

/* Responsividade */
@media (max-width: 768px) {
	.feijao-container {
		flex-wrap: wrap;
	}

	.feijao-item,
	.feijao-destaque {
		flex: 1 1 100%;
		/* Ocupa toda a largura */
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	.feijao-container {
		flex-direction: column;
		/* Empilha os itens */
		align-items: center;
		/* Centraliza os itens horizontalmente */
		justify-content: center;
		/* Centraliza os itens verticalmente */
		gap: 30px;
		/* Maior espaçamento entre itens */
	}

	.feijao-item img {
		margin: 0 auto;
		/* Garante alinhamento central */
	}
}

/* End Feijão Section */



/* Farinha Section */
#farinha {
	background-image: url('/assets/img/back3.png');
	background-size: cover;
	background-position: center;
	padding: 50px 20px;
	text-align: center;
	color: #181885;
	/* Cor das letras */
}

#farinha h2 {
	font-size: 4rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	/* Poppins Black */
	color: #181885;
	/* Cor das letras */
}

#farinha h3 {
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	color: #181885;
	/* Cor das letras */
}

.farinha-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.farinha-item {
	background: rgba(255, 255, 255, 0);
	border-radius: 10px;
	padding: 15px;
	width: 30%;
	max-width: 300px;
	text-align: center;
	color: #181885;
	/* Cor das letras */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Centraliza o conteúdo verticalmente */
}

.farinha-item img {
	width: 100%;
	border-radius: 10px;
}

.farinha-item p {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	/* Poppins Medium */
	margin-top: 10px;
	font-size: 1.8rem;
	color: #181885;
	/* Cor das letras */
}

/* Responsividade */
@media (max-width: 768px) {
	.farinha-item {
		width: 80%;
		justify-content: center;
	}
}

@media (max-width: 280px) {
	.farinha-container {
		flex-direction: column;
		justify-content: center;
	}

	.farinha-item {
		justify-content: center;
		/* Garante que o conteúdo fique centralizado em telas menores */
		text-align: center;
	}
}

/* End Farinha Section */

/* Services Section */
#services {
	background-image: url(/assets/img/back4.png);
	background-size: cover;
	background-position: center;
	padding: 40px 0;
	position: relative;
	z-index: -1;
}

#services::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	/* Espessura da borda */
	background-color: #317b2e;
	/* Cor da borda */
}

/* Centraliza os itens no layout */
#services .services {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
}

/* Parte superior da seção */
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}

/* Parte inferior da seção */
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

/* Itens individuais */
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: center;
	/* Alinha centralmente no eixo vertical */
	justify-content: center;
	/* Alinha centralmente no eixo horizontal */
	flex-direction: column;
	/* Organiza título e parágrafo verticalmente */
	padding: 30px;
	border-radius: 10px;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: -1;
	overflow: hidden;
	text-align: center;
	/* Garante alinhamento centralizado */
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #f5f371 0%, #6ef780 100%);
	opacity: 0.9;
	z-index: -1;
}

/* Ícones */
#services .service-bottom .icon img {
	max-width: 40%;
	max-height: 100%;
	object-fit: contain;
}

/* Títulos dos itens */
#services .service-item h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 2rem;
	color: #181885;
	margin-bottom: 10px;
	text-transform: uppercase;
}

/* Parágrafos */
#services .service-item p {
	color: rgb(5, 5, 5);
	text-align: center;
	max-width: 90%;
	/* Garante que o texto não se estenda além da largura */
}

/* End Services Section */

/* Tradition Section */
#tradition {
	padding: 60px 20px 0;
	background-color: #317b2e;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	min-height: 100vh;
	justify-content: flex-start;
}

/* Borda ondulada na parte superior */
#tradition::before {
	content: "";
	display: block;
	width: 100%;
	height: 100px;
	background: url('wave.svg') no-repeat center top;
	background-size: cover;
	position: absolute;
	top: -60px;
	left: 0;
}

/* Conteúdo do texto */
#tradition .text-content {
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 40px;
	/* Ajuste do espaço entre o texto e as imagens */
}

#tradition .text-content h1 {
	font-size: 4.5rem;
	/* Tamanho padrão para telas grandes */
	font-weight: bold;
	color: #fbff02;
}

#tradition .text-content p {
	font-size: 1.3rem;
	font-weight: 500;
	color: #ffffff;
	line-height: 1.7;
	font-family: 'Poppins', sans-serif;
	margin: 15px 20px;
	text-align: justify;
}

/* Bloco das imagens fixo no rodapé */
#tradition .image-block {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 0;
	/* Sem espaçamento entre as imagens */
	width: 100%;
	margin-top: auto;
	/* Empurra as imagens para o final da seção */
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 0;
	/* Remove qualquer espaçamento da borda esquerda */
}

#tradition .family-image {
	width: 100%;
	object-fit: cover;
	margin-left: 0;
}

/* Responsivo para telas maiores */
@media (min-width: 768px) {
	#tradition {
		padding-bottom: 0;
	}

	#tradition .family-image {
		width: 65%;
		/* A imagem ocupa 65% da largura */
	}

	#tradition .text-content p {
		font-size: 1.5rem;
	}
}

/* Responsivo para telas médias */
@media (max-width: 767px) {
	#tradition .text-content h1 {
		font-size: 2.5rem;
		/* Reduz o tamanho do título */
	}
}

/* Responsivo para telas menores */
@media (max-width: 480px) {
	#tradition .text-content p {
		font-size: 1.5rem;
		line-height: 1.5;
		/* Ajusta a legibilidade do texto */
	}

	#tradition .family-image {
		width: 100%;
		/* Garante que a imagem ocupe 100% da largura */
	}
}



/* About Section */
#about {
	width: 100vw;
	/* Ocupa toda a largura da tela */
	margin: 0;
	padding: 0;
}

#about .about {
	background-image: url('/assets/img/BACKGROUND PLANTAÇÃO DE MANDIOCA.jpg');
	background-size: cover;
	background-position: center top;
	text-align: center;
	padding: 40px 20px;
	position: relative;
	min-height: 100vh;
	/* Garante que cubra toda a altura da viewport */
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about .col-left {
	width: 250px;
	height: auto;
	/* Permite ajuste automático da altura */
	margin-bottom: 20px;
	/* Espaço entre a logo e a caixa de texto */
}

#about .col-left img {
	width: 60%;
}

#about .col-right {
	background-color: rgba(255, 255, 255, 0.733);
	/* Fundo branco semi-transparente */
	padding-top: 5px;
	border-radius: 8px;
	/* Bordas arredondadas */
	max-width: 450px;
	/* Caixa de texto mais estreita */
	margin: 0 auto;
	text-align: center;
	/* Centraliza o conteúdo dentro da caixa de texto */
}

#about .col-right h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #ec6d06;
	/* Cor laranja para o título */
	margin-bottom: -35px;
	/* Menos espaço entre o título e o parágrafo */
}

#about .col-right p {
	font-size: 1.5rem;
	font-weight: bold;
	color: #000;
	line-height: 1.7;
	font-family: 'Poppins', sans-serif;
	text-align: justify;
	margin: 10px 0;
	padding: 0 15px;
}

#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;

}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid rgb(247, 222, 4);
	z-index: -1;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
	#about .about {
		flex-direction: column;
		/* Logo em cima e caixa de texto embaixo */
	}
}

/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}

#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg,
			#c7c402 -70%, #9fffb7 100%);
	text-align: center;
	padding: 20px 0;
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.footer-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.footer-contact {
	text-align: right;
}

.footer-contact p {
	margin-bottom: 10px;
}

.footer-img {
	width: 250px;
	height: auto;
	margin-bottom: 0px;

}

.social-icons img {
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

.facebook-icon img {
	margin-right: 10px;
	width: 40px;
	height: 40px;
}

#footer h2 {
	color: #006627;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer p {
	color: #006627;
	font-weight: 900;
	font-size: 1.8rem;
	margin: 0;
	padding: 4rem;
}


#footer a {
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
}

.heart {
	color: #ff0202;
}

/* End Footer */

/* Keyframes */
@keyframes pulse {
	0% {
		border-color: rgb(4, 89, 247);
		/* Cor inicial */
	}

	50% {
		border-color: transparent;
		/* Cor que piscará */
	}

	100% {
		border-color: rgb(4, 89, 247);
		/* Cor final */
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: #006627;
	}
}

@keyframes text_reveal_h2 {
	100% {
		color: #f7f7f7;
	}
}

@keyframes text_reveal_name {
	100% {}
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}

	h1.section-title {
		font-size: 4rem;
	}

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

	/* End Services Section */

	/* About */
	#about .about {
		flex-direction: row;
	}

	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}

	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(247, 222, 4);
	}

	#about .col-right {
		text-align: left;
		padding: 30px;
	}

	#about .col-right h1 {
		text-align: center;
	}

	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}

	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}

	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}

	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}

	#contact .contact-item .icon img {
		object-fit: contain;
	}

	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

	/* End contact  */
}

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

	/* header */
	#header .hamburger {
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */
	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

/* End  Media Query For Desktop */


.whatsapp-button {
	display: inline-block;
	padding: 20px 30px;
	/* Espaçamento interno do botão */
	background-color: #25D366;
	/* Cor do WhatsApp */
	color: white;
	/* Cor do texto */
	border: none;
	/* Sem borda */
	border-radius: 5px;
	/* Bordas arredondadas */
	text-decoration: none;
	/* Remove sublinhado do texto */
	font-weight: bold;
	/* Texto em negrito */
	transition: background-color 0.3s ease;
	/* Transição suave para mudança de cor */
	font-size: 1.5rem;
}

.whatsapp-button:hover {
	background-color: #128C7E;
	/* Cor do WhatsApp ao passar o mouse */
}

.whatsapp-mascote-button {
	position: fixed;
	bottom: 60px;
	right: 80px;
	width: 60px;
	height: 60px;
	border-radius: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	/* animation: pulse 1.5s infinite ease-in-out; */
}

.whatsapp-mascote-button img {
	width: 180px;
	height: 120px;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1);
	}
}